[user]
	name = Carlos Cardoso Dias
	email = carlosdias.dev@gmail.com
[credential "https://github.com"]
	username = carloscdias
[core]
	editor = vim
[color]
  ui = true
[alias]
  plog = log --color --graph --pretty=format:'%Cred%h%Creset %Cgreen(%cr) -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[commit]
	gpgsign = true
